<ion-content class="has-header">
  <comuni-img ng-if="obj.image" class="content-image-main"></comuni-img>
  <div class="padding event">
    <h1>{{obj.title | translate}}</h1>
    <h4>{{obj.dbClassification | translate}}</h4>
    <div class="row" ng-if="!!(obj.address | translate)">
      <div class="col col-10">
        <i class="icon ion-ios7-location-outline"></i>
      </div>
      <div class="col col-90">
        {{obj.address | translate}}
      </div>
    </div>
    <div class="row" ng-if="!!(obj.eventPeriod | translate)">
      <div class="col col-10">
        <i class="icon ion-ios7-calendar-outline"></i>
      </div>
      <div class="col col-90">
        {{obj.eventPeriod | translate}}
      </div>
    </div>
    <div class="row" ng-if="!!(obj.eventTiming | translate)">
      <div class="col col-10">
        <i class="icon ion-ios7-time-outline"></i>
      </div>
      <div class="col col-90">
        {{obj.eventTiming | translate}}
      </div>
    </div>
    <div class="row" ng-if="!!(obj.cost | translate)">
      <div class="col col-10">
        <i class="icon ion-ios7-photos-outline"></i>
      </div>
      <div class="col col-90">
        {{obj.cost | translate}}
      </div>
    </div>
    <div class="row" ng-if="obj.topics.length > 0">
      <div class="col col-10">
        <i class="icon ion-ios7-flag-outline"></i>
      </div>
      <div class="col col-90">
        <span ng-repeat="topic in obj.topics" ng-if="!!topic">
          {{topic}}<span ng-if="!$last">, </span>
        </span>
      </div>
    </div>
    <!-- <h5><i class="icon ion-ios7-calendar-outline"></i>{{obj.fromTime | date:'dd/MM/yyyy'}}<span ng-if="obj.fromTime !== obj.toTime"> - {{obj.toTime | date:'dd/MM/yyyy'}}</span></h5>-->
  </div>
	<div ng-if="obj.sonscount>0">
  	<button class="button button-full eventscount icon-right" ng-class="{'ion-chevron-down': !sons, 'ion-chevron-up': sons}" ng-click="toggleSons()">{{ 'complex_events' | translate_plur:obj.sonscount }}</button>
		<div ng-show="sonsVisible">
			<ion-list>
				<ion-item ng-repeat="son in sons|extOrderBy:ordering track by son.id" href="{{son.abslink}}" class="coll-item item-thumbnail-left">
					<comuni-img class="item-image comuni-item-image" ></comuni-img>
					<h2>{{son.title | translate}}</h2>
					<p ng-if="son.fromTime">{{son.fromTime | date:'dd/MM/yyyy'}}<span ng-if="son.fromTime !== son.toTime"> - {{son.toTime | date:'dd/MM/yyyy'}}</span></p>
					<div class="row comuni-item-bottom">
						<div class="col comuni-item-bottom-text">
							<span>{{son.address | translate}}</span>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</div>
  <div class="padding event">
    <div class="htmldesc" compile="obj.description | translate"></div>
    <div class="htmldesc" compile="obj.info | translate"></div>
  </div>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/toolbox.html'"></div>
</ion-footer-bar>
