<ion-nav-buttons side="left" ng-if="explicitBack()">
  <button class="button button-clear" ng-click="bk()"><i class="icon ion-ios7-arrow-back"></i></button>
</ion-nav-buttons>
<ion-content class="has-header">
  <comuni-img ng-if="obj.image" class="content-image-main" gotdata="gotdata"></comuni-img>
  <div class="padding">
    <h1>{{obj.title | translate}}</h1>
    <div class="comuni-html-desc" compile="obj.description | translate"></div>
    <div class="htmldesc" ng-if="obj.contacts.phone"><b>Tel:</b> <a href="tel:{{obj.contacts.phone}}">{{obj.contacts.phone}}</a></div>
    <div class="htmldesc" ng-if="obj.contacts.email"><b>E-mail:</b> <a ng-click="email(obj.contacts.email)">{{obj.contacts.email}}</a></div>
    <div class="htmldesc" ng-if="obj.url"><b>Web:</b> <a ng-click="extLink(obj.url)">{{obj.url}}</a></div>
  </div>
</ion-content>
<ion-footer-bar>
<div ng-include="'templates/toolbox.html'"></div>
</ion-footer-bar>  
