<ion-header-bar class="bar-subheader item item-divider" align="center">
  {{'list_results' | translate_plur:results.length}}
</ion-header-bar>
<ion-content class="has-header" delegate-handle="listScroll">
  <ion-list>
    <ion-item collection-repeat="obj in results" 
              collection-item-width="'100%'" collection-item-height="getListItemHeight(obj, $index)" 
              ng-click="gotoSubpath(obj.id)" class="item-thumbnail-left coll-item">
      <!-- comuni-img class="item-image comuni-item-image" gotdata="gotdata" dida="{{obj.distance | number:1}} {{'entry_km' | translate}}"></comuni-img -->
      <div class="item-image comuni-item-image comuni-img" ng-attr-style="background-image:url({{obj.parsedimageurl|translate}})">
        <div ng-if="obj.distance" class="dida">{{obj.distance | number:1}} {{'entry_km' | translate}}</div>
      </div>
      <h2>{{obj.title | translate}}</h2>
      <div class="comuni-item-bottom">{{obj.address | addrclean}}</div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/list_toolbox.html'"></div>
</ion-footer-bar>
