<ion-header-bar class="bar-subheader item item-divider" align="center">
  {{'list_results' | translate_plur:results.length}}
</ion-header-bar>
<ion-content class="has-header" delegate-handle="listScroll">
  <ion-list>
    <ion-item ng-repeat="obj in scrolldata track by $index" 
              ng-click="gotoSubpath(obj.id)" class="item-thumbnail-left coll-item">
      <!-- comuni-img class="item-image comuni-item-image" gotdata="gotdata" dida="{{obj.distance | number:1}} {{'entry_km' | translate}}"></comuni-img -->
      <div class="item-image comuni-item-image comuni-img" style="background-image:url({{getParsedImageURL(obj,'list')}})">
        <div ng-if="obj.distance" class="dida">{{obj.distance | number:1}} {{'entry_km' | translate}}</div>
      </div>
      <h2>{{obj.title | translate}}</h2>
      <div class="row comuni-item-bottom">
        <div class="col comuni-item-bottom-text">
          <span>{{obj.address | translate | addrclean}}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="hasMoreDataToLoad()"></ion-infinite-scroll>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/list_toolbox.html'"></div>
</ion-footer-bar>
