<ion-content class="has-header">
  <comuni-img ng-if="obj.image" class="content-image-main" gotdata="gotdata" detail="true"></comuni-img>
  <div class="padding">
    <h1>{{obj.title | translate}}</h1>
    <h4>{{obj.classification | translate}}</h4>
    <h5>{{obj.address | translate}}</h5>
    <div class="htmldesc">
      <p>
        <ul>
          <li ng-if="!! obj.timetable[lang]"><strong>{{'restaurant_opening' | translate}}: </strong> {{obj.timetable | translate}}</li>
          <li ng-if="!! obj.closing[lang]"><strong>{{'restaurant_closing' | translate}}: </strong> {{obj.closing | translate}}</li>
          <li ng-if="!! obj.prices[lang]"><strong>{{'restaurant_price' | translate}}: </strong> {{obj.prices | translate}} &euro;</li>
          <li ng-if="!! obj.equipment[lang]"><strong>{{'restaurant_services' | translate}}: </strong> {{obj.equipment | translate}}</li>
        </ul>
      </p>
    </div>
  </div>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/toolbox.html'"></div>
</ion-footer-bar>
