<ion-content class="has-header" delegate-handle="listScroll">
  <ion-list>
    <div class="item item-divider" align="center"><span ng-if="filterDef">{{filterDef | translate | ellipsis:20}}: </span>{{'list_results' | translate_plur:results.length}}</div>
    <ion-item collection-repeat="obj in results | extOrderBy:ordering"
              collection-item-width="'100%'" collection-item-height="getListItemHeight(item, $index)"
              ng-click="gotoSubpath(obj.id)" class="item-thumbnail-left coll-item">
      <comuni-img class="item-image comuni-item-image"></comuni-img>
      <h2>{{obj.title | translate}}</h2>
      <div class="row comuni-item-bottom">
        <div class="col-75 comuni-item-bottom-text">
          <span>{{obj.address | translate}}</span>
        </div>
        <div class="col-25 comuni-item-bottom-distance">
          <span ng-if="!! obj.distance">{{obj.distance | number:1}} {{'entry_km' | translate}}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/list_toolbox.html'"></div>
</ion-footer-bar>    
