<ion-content class="has-header">
    <ion-nav-buttons side="right">
        <a class="tab-item" ng-click="toggleFavorite(obj)">
          <i ng-if="isObjFavorite" class="icon ion-ios7-star"></i>
          <i ng-if="!isObjFavorite" class="icon ion-ios7-star-outline"></i>
        </a>
      </ion-nav-buttons>
  <!-- comuni-img ng-if="obj.image" class="content-image-main" gotdata="gotdata" detail="true"></comuni-img -->
  <div ng-if="!emptyParsedImageURL(obj)" class="content-image-main comuni-img" ng-attr-style="background-image:url({{getParsedImageURL(obj)}})"></div>
  <div class="padding">
    <h1>{{obj.title | translate}}</h1>
    <h4>{{obj.dbClassification | translate}}<span ng-if="obj.dbClassification2">, {{obj.dbClassification2 | translate}}</span><span ng-if="obj.dbClassification3">, {{obj.dbClassification3 | translate}}</span></h4>
    <div class="comuni-html-description">
      <div ng-if="!! obj.timetable[lang]"><strong>{{'restaurant_opening' | translate}}: </strong> {{obj.timetable | translate}}</div>
      <div ng-if="!! obj.closing[lang]"><strong>{{'restaurant_closing' | translate}}: </strong> {{obj.closing | translate}}</div>
    </div>
    <div class="list card sinottico">
      <div ng-if="!!(obj.address | translate)" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-location-outline"></i>{{obj.address | translate}}</div>
      <div ng-if="!!(obj.distance)" class="item item-text-wrap item-icon-left"><i class="icon ion-arrow-resize"></i>{{obj.distance | number:1}} {{'entry_km' | translate}}</div>
      <div ng-if="!!(obj.contacts.phone)" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-telephone-outline"></i><a href="tel:{{obj.contacts.phone}}">{{obj.contacts.phone}}</a></div>
      <div ng-if="!!(obj.contacts.email)" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-email-outline"></i><a ng-click="email(obj.contacts.email)">{{obj.contacts.email}}</a></div>
      <div ng-if="!!(obj.url)" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-world-outline"></i><a ng-click="extLink(obj.url)">{{obj.url}}</a></div>
      <div ng-if="!! obj.prices[lang]" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-pricetag-outline"></i>&euro; {{obj.prices | translate}}</div>
      <div ng-if="!! obj.equipment[lang]" class="item item-text-wrap item-icon-left"><i class="icon ion-ios7-checkmark-outline"></i>{{obj.equipment | translate}}</div>
    </div>
    <div class="comuni-html-description subtitle" compile="obj.subtitle | translate"></div>
    <div class="comuni-html-description" compile="obj.description | translate"></div>
  </div>
</ion-content>
<ion-footer-bar>
  <div ng-include="'templates/toolbox.html'"></div>
</ion-footer-bar>
