/smartcampus.vas.comuneintasca.mobile/platforms/
/smartcampus.vas.comuneintasca.mobile/node_modules/
/smartcampus.vas.comuneintasca.mobile/www/lib
/smartcampus.vas.comuneintasca.mobile/plugins/
/smartcampus.vas.comuneintasca.oldmobile/platforms/
/smartcampus.vas.comuneintasca.oldmobile/node_modules/
/smartcampus.vas.comuneintasca.oldmobile/www/lib
/smartcampus.vas.comuneintasca.oldmobile/plugins/
/smartcampus.vas.comuneintasca.oldmobile/bower_components/
