<ion-view title="Content">
  <ion-content class="has-header">
    <div class="comuni-content">
        <comuni-img ng-if="content.image" class="content-image-main" image="content.image" gotdata="gotdata"></comuni-img>
        <div class="padding">
            <h2>{{content.title|translate}}</h2>
            <div class="comuni-html-description" ng-bind-html="content.description|translate"></div>
            <div class="comuni-html-info" ng-bind-html="content.info|translate"></div>
        </div>
    </div>
  </ion-content>
</ion-view>
