<div class="modal" id="credits">
  <ion-header-bar>
    <h1 class="title">{{'credits_title' | translate}}</h1>
    <button class="button button-icon icon ion-ios7-close-empty" ng-click="credits.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <span class="h2 h2-credits">Ricadi</span><br/>
        <span class="h2 h2-credits">{{'credits_app' | translate | nl2br}}</span><br/>
      </div>
    </div>

    <div class="row version">
      <div class="col" ng-bind-html="version"></div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col"><span class="h4 credits-title">{{'credits_project' | translate}}</span></div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col col-50 col-center" style="text-align:left" ng-click="extLink('http://www.innovazione.comunitrentini.tn.it')">
          <img src="img/credits/consorzio_comuni_trentini.png" width="90%" />
        </div>  
        <div class="col col-50" ng-click="extLink('http://www.fbk.eu')">
          <img src="img/credits/fbk.png" width="55%"/>
        </div>
    </div>

<!--    
    <div class="row" style="margin-top: 20px;">
      <div class="col"><span class="h4 credits-title">{{'credits_sponsored' | translate}}</span></div>
    </div>
    <div class="row" style="margin-top: 10px;" ng-click="extLink('http://www.comunericadi.gov.it/')">
      <div class="col col-center"><img src="img/credits/ricadi_piccolo.png" width="60%" /></div>
    </div>
-->

    <div class="row" style="margin-top: 60px; margin-bottom: 40px;">
      <div class="col"><span class="h4 credits-title">{{'credits_info' | translate}}</span>
      <br/><span class="h5" ng-click="extLink('mailto:ilcomuneintasca@smartcommunitylab.it')"><u>ilcomuneintasca@smartcommunitylab.it</u></span></div>
    </div>
  </ion-content>
</div>
