<div class="modal" id="credits">
  <ion-header-bar>
    <h1 class="title">{{'credits_title' | translate}}</h1>
    <button class="button button-icon icon ion-ios7-close-empty" ng-click="credits.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <span class="h2 h2-credits">Trento</span>
        <br/>
        <span class="h2 h2-credits">{{'credits_app' | translate | nl2br}}</span>
        <br/>
      </div>
    </div>

    <div class="row version">
      <div class="col" ng-bind-html="version"></div>
    </div>

    <div class="row title">
      <div class="col">
        <span class="h4 credits-title">{{'credits_project' | translate}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col  col-center">
        <a href="http://www.smartcommunitylab.it/" target="_system">
          <img src="img/credits/fbk_sco.png" width="70%" />
        </a>
      </div>
    </div>
    <div class="row title">
      <div class="col">
        <span class="h4 credits-title">{{'credits_sponsored' | translate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>{{'credits_sponsored_2' | translate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-center">
        <a href="http://www.comune.trento.it" target="_system">
          <img src="img/credits/comune_trento.png" width="60%" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-center">
        <a href="http://www.comune.trento.it/Aree-tematiche/Smart-city/Cos-e-Trento-Smart-City" target="_system">
          <img src="img/credits/tsc.jpg" width="60%" />
        </a>
      </div>
    </div>

    <div class="row title last">
      <div class="col">
        <span class="h4 credits-title">{{'credits_info' | translate}}</span>
        <br/>
        <a class="h5" href="mailto:ilcomuneintasca@smartcommunitylab.it">
          ilcomuneintasca@smartcommunitylab.it</a>
      </div>
    </div>
    <div class="row title last">
      <div class="col">
        <span class="h4 credits-title">{{'credits_info_more' | translate}}</span>
        <br/>
        <a class="h5" href="mailto:trento.smart@comune.trento.it">
          trento.smart@comune.trento.it</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button class="button button-credits" onclick="window.open('http://www.smartcommunitylab.it/licenze/', '_system', 'location=yes'); return false;">
              {{'credits_licenses_button' | translate}}
          </button>
      </div>
  </div>
  </ion-content>
</div>