<ion-view title="{{cate | translate}}">
  <ion-content class="has-header" ng-cloak>
    <ion-list>
      <div class="item item-divider" align="center">{{filterDef()}}{{'list_results' | i18nplur:events.length}}</div>
      <ion-item class="coll-item item-thumbnail-left"
                collection-repeat="event in events|extOrderBy:ordering track by event.id"
                collection-item-width="'100%'" collection-item-height="getListItemHeight(item, $index)"
                ng-click="goToItem('/app/event/'+event.id)">
        <comuni-img class="item-image comuni-item-image" image="event.image" gotdata="gotdata"></comuni-img>
        <h2>{{event.title | translate}}</h2>
        <p>{{event.fromTime | date:'fullDate'}}<span ng-if="event.fromTime !== event.toTime"> - {{event.toTime | date:'fullDate'}}</span>
        </p>
        <div class="row comuni-item-bottom">
          <div class="col comuni-item-bottom-text">
            <span>{{event.address | translate}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
	  <div ng-include="'templates/list_toolbox.html'"></div>
  </ion-footer-bar>
</ion-view>
