<ion-view title="{{cate|translate}}">
  <ion-nav-buttons side="left">
	<a class="button button-icon icon ion-android-sort" ng-click="showSortPopup()"></a>	
  </ion-nav-buttons>	
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-thumbnail-left"
                ng-repeat="event in events | extOrderBy:ordering"
                collection-item-width="'100%'"
                collection-item-height="'80px'"
                href="#/app/event/{{event.id}}">
        <comuni-img class="item-image comuni-item-image" image="event.image" gotdata="gotdata"></comuni-img>
        <h2>{{event.title|translate}}</h2>
        <p class="comuni-item-bottomdetail">{{event.address|translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
