<ion-view title="{{cate | translate}}">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-android-sort" ng-click="showSortPopup()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider" align="center">{{'list_results' | i18nplur:events.length}}</div>
      <ion-item class="item-thumbnail-left" ng-repeat="event in events" href="#/app/event/{{event.id}}">
      <!-- ion-item class="item-thumbnail-left" collection-repeat="event in events|extOrderBy:ordering track by event.id" collection-item-width="'100%'" collection-item-height="'100'" href="#/app/event/{{event.id}}" -->
        <comuni-img class="item-image comuni-item-image" image="event.image" gotdata="gotdata"></comuni-img>
        <h2>{{event.title | translate}}</h2>
        <p>{{event.fromTime | date:'fullDate'}}<span ng-if="event.fromTime !== event.toTime"> - {{event.toTime | date:'fullDate'}}</span>
        </p>
        <div class="row comuni-item-bottom">
          <div class="col comuni-item-bottom-text">
            <span>{{event.address | translate}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
