<ion-nav-buttons side="left" id="navbar2">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-view title="{{'sidemenu_Favourites' | translate}}">
  <ion-content class="has-header">
    <div class="card emptylist" ng-if="!! !favorites.length">
      <ion-item item-text-wrap>{{'list_no-favorites' | translate}}</ion-item>
    </div>
    <ion-list ng-if="!! favorites.length">
      <div class="item item-divider" align="center">{{'list_results' | translate_plur:favorites.length}}</div>
      <div ng-repeat="obj in favorites">
        <ion-item class="item-thumbnail-left" collection-item-width="'100%'" collection-item-height="'80px'" ng-click="goto(obj.abslink)">
          <!-- comuni-img class="item-image comuni-item-image" gotdata="gotdata"></comuni-img -->
          <div class="item-image comuni-item-image comuni-img" ng-attr-style="background-image:url({{getParsedImageURL(obj)}})"></div>
          <h2 class="fav-{{obj.dbType}}">{{obj.title | translate}}</h2>
          <p ng-if="obj.dbType!='hotel' && obj.dbType!='restaurant' && obj.menu">{{obj.menu.name | translate}}</p>
          <p ng-if="obj.dbType=='hotel' || obj.dbType=='restaurant'">{{obj.dbClassification | translate}}
            <span ng-if="obj.dbClassification2">, {{obj.dbClassification2 | translate}}</span>
            <span ng-if="obj.dbClassification3">, {{obj.dbClassification3 | translate}}</span>
          </p>
          <!-- p data-ng-if="obj.menu && obj.menu._parent">{{obj.menu._parent.name | translate}}</p -->
        </ion-item>
        <div class="h-line"></div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>