<ion-view title="{{'sidemenu_Favourites' | translate}}">
  <ion-content class="has-header">
    <div class="card emptylist" ng-if="!! !favorites.length">
      <ion-item item-text-wrap>{{'list_no-favorites' | translate}}</ion-item>
    </div>
    <ion-list ng-if="!! favorites.length">
      <div class="item item-divider" align="center">{{'list_results' | translate_plur:favorites.length}}</div>
      <ion-item class="item-thumbnail-left" ng-repeat="obj in favorites" collection-item-width="'100%'" collection-item-height="'80px'" ng-click="goto(obj.abslink)">
        <comuni-img class="item-image comuni-item-image" gotdata="gotdata"></comuni-img>
        <h2>{{obj.title | translate}} {{obj.dbType}}</h2>
        <p data-ng-if="obj.menu && obj.dbType!='event'">{{obj.menu.name | translate}}</p>
        <p data-ng-if="obj.menu && obj.dbType=='event'">{{obj.category | translate}}</p>
        <!-- p data-ng-if="obj.menu && obj.menu._parent">{{obj.menu._parent.name | translate}}</p -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
