<ion-view title="{{'app_title' | translate | nl2br}}">
  <ion-content class="has-header content-stable" scroll="false" id="content-home">
    <div class="home-container">
      <div class="home-box-top">
        <div ng-if="!slides" class="hp-box trento">
        </div>
        <ion-slide-box ng-if="slides" does-continue="true" slide-interval="5000" id="slide-box-home">
          <ion-slide ng-repeat="slide in slides">
            <div class="hp-box" style="background-image: url({{slide.img}})" ng-click="goToItem(slide.ref)">
              <h3 class="title">{{slide.title}}</h3>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="home-box-bottom">
        <div id="home-buttons" class="lang_{{lang}}">
		  		<div class="row" ng-if="buttonsRows" ng-repeat="buttonsRow in buttonsRows">
            <div class="col" ng-repeat="button in buttonsRow"><button class="button button-full button-comuni icon-left comuneicon comuneicon-{{button.icon}} {{button.extraClasses}}" ng-click="gotoButton(button)"><b ng-bind-html="button.name|translate"></b></button></div>
					</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
