<ion-nav-buttons side="left">
  <button class="button button-clear" ng-click="bk()"><i class="icon ion-ios7-arrow-back"></i></button>
</ion-nav-buttons>
<ion-view title="{{'leaf_Itinerario' | translate}}"  hide-back-button="true">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider" align="center">{{itinerario.title | translate}}</div>
      <ion-item class="item-thumbnail-left" ng-repeat="place in tappe track by $index" collection-item-width="'100%'" collection-item-height="'80px'" ng-click="goto(place.abslink)"> 
        <comuni-img class="item-image comuni-item-image" gotdata="gotdata" obj="obj"></comuni-img>
        <h2>{{$index + 1}}. {{place.title | translate}}</h2>
        <p class="comuni-item-bottomdetail">{{place.address | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
