<ion-view title="{{'leaf_Itinerario' | translate}}" hide-back-button="true">
  <ion-content class="has-header">
    <!-- comuni-img ng-if="itinerario.image" class="content-image-main" gotdata="gotdata"></comuni-img -->
    <div ng-if="!emptyParsedImageURL(itinerario)" class="content-image-main comuni-img" ng-attr-style="background-image:url({{itinerario.image|translate}})"></div>
    <div class="padding">
      <h2>{{itinerario.title | translate}}</h2>
      <h4 ng-if="itinerario.subtitle.it" >{{itinerario.subtitle | translate}}</h4>
      <div class="comuni-html-description subtitle" compile="itinerario.subtitle | translate"></div>
      <div class="comuni-html-description" compile="itinerario.description|translate"></div>
      <h3>{{'itinerari_title_info' | translate}}</h3>
      <div class="comuni-html-info" compile="itinerario.info|translate"></div>
    </div>
  </ion-content>
</ion-view>
