<ion-nav-buttons side="left"><button class="button button-clear" ng-click="bk()" ng-if="backActive"><i class="icon ion-ios7-arrow-back"></i></button></ion-nav-buttons>
<ion-nav-buttons side="right">
    <a class="tab-item favorite" ng-click="toggleFavorite(itinerario)">
      <i ng-if="isObjFavorite" class="icon ic-new-star"></i>
      <i ng-if="!isObjFavorite" class="icon ic-new-star-outline"></i>
    </a>
  </ion-nav-buttons>
<ion-tabs class="tabs-icon-only">
  <ion-tab icon="ion-android-information" href="#/app/itinerary/{{itinerarioId}}/info" on-select="clr()">
    <ion-nav-view name="itinerary-info"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ic-new-itinerary" href="#/app/itinerary/{{itinerarioId}}/steps/" on-select="clr()">
    <ion-nav-view name="itinerary-steps"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon="ic-new-map" href="#/app/itinerary/{{itinerarioId}}/map" on-select="clr()">
    <ion-nav-view name="itinerary-map"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab  icon="ion-ios7-navigate-outline" ng-click="bringmethere(location)" data-off-ng-href="geo:location[0],location[1]">
  </ion-tab>
  <ion-tab  icon="ion-ios7-redo-outline" ng-click="share(itinerario.title,itinerario.url,itinerario.image)">
  </ion-tab>
  <ion-tab ng-if="!isObjFavorite" icon="icon ion-ios7-star-outline" ng-click="toggleFavorite(itinerario)">
  </ion-tab>
  <ion-tab ng-if="isObjFavorite" icon="icon ion-ios7-star" ng-click="toggleFavorite(itinerario)">
  </ion-tab> -->
</ion-tabs>

<ion-floating-menu menu-open-icon="ion-close" menu-color="#e14248" menu-open-color="#e14248">
		<ion-floating-item button-color="#ececec" data-off-ng-href="geo:location[0],location[1]" ng-click="bringmethere(location)" icon="ic-new-navigate" ></ion-floating-item>
		<ion-floating-item button-color="#ececec"  ng-click="share(itinerario.title,itinerario.url,itinerario.image)" icon="ic-new-share" ></ion-floating-item>
		<!-- <ion-floating-item button-color="#ececec"  ng-if="!isObjFavorite" ng-click="showSortPopup()"  icon="icon ion-ios7-star-outline" ></ion-floating-item>
		<ion-floating-item button-color="#ececec"  ng-if="isObjFavorite" ng-click="showSearch($event)" icon="icon ion-ios7-star"  data-off-ng-href="geo:obj.location[0],obj.location[1]"></ion-floating-item> -->
</ion-floating-menu>
