<ion-tabs class="tabs-icon-only">
  <ion-tab icon="icon ion-information-circled" href="#/app/itinerary/{{itinerarioId}}/info">
    <ion-nav-view name="itinerary-info"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="icon ion-clipboard" href="#/app/itinerary/{{itinerarioId}}/steps">
    <ion-nav-view name="itinerary-steps"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon="icon ion-map" href="#/app/itinerary/{{itinerarioId}}/map">
    <ion-nav-view name="itinerary-map"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon="icon ion-navigate" ng-click="bringmethere(location)">
  </ion-tab>
  <ion-tab  icon="icon ion-share" ng-click="share($filter('translate')( itinerario.title),itinerario.url,itinerario.image)">
  </ion-tab>
  <ion-tab ng-if="!isFavorite(itinerario)" icon="icon ion-ios7-star-outline" ng-click="toggleFavorite(itinerario)">
  </ion-tab>
  <ion-tab ng-if="isFavorite(itinerario)" icon="icon ion-ios7-star" ng-click="toggleFavorite(itinerario)">
  </ion-tab>
</ion-tabs>
