<ion-view title="{{'leaf_Itinerario' | translate}}" hide-back-button="true">
  <ion-content class="has-header" scroll="false" id="map-container-itineraries">
    <div class="item item-divider" align="center">{{itinerario.title | translate}}</div>
    <div id="map2">
      <google-map data-tap-disabled="true" center="map.center" zoom="map.zoom" pan="map.pan" options="map.options" draggable="{{map.draggable}}" refresh="map.refresh">
        <markers models="markers.models" coords="markers.coords" fit="markers.fit" icon="markers.icon" doCluster="markers.doCluster" click="openMarkerPopup">
        </markers>
        <!--
        <polyline path="markers.poly" stroke="polyline.stroke" clickable="polyline.clickable" draggable="polyline.draggable" editable="polyline.editable" geodesic="polyline.geodesic" visible="polyline.visible">
        </polyline>
        -->
      </google-map>
    </div>
  </ion-content>
</ion-view>
