<ion-view title="{{'leaf_Itinerario' | translate}}"  hide-back-button="true">
  <ion-content class="has-header">
      <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="bk()" ng-if="backActive">
      <i class="icon ion-ios7-arrow-back"></i>
      </button>
      </ion-nav-buttons>
    <comuni-img ng-if="itinerario.image" class="content-image-main" image="itinerario.image" gotdata="gotdata"></comuni-img>
    <div class="padding">
      <h2>{{itinerario.title | translate}}</h2>
      <div class="htmldesc" compile="itinerario.description|translate"></div>
      <h3>{{'itinerari_title_accessibilita' | translate}}</h3>
      <div class="htmlinfo" compile="itinerario.info|translate"></div>
    </div>
  </ion-content>
</ion-view>
