<ion-view title="{{title | translate}}">
  <ion-content class="has-header" delegate-handle="listScroll">
    <ion-list>
	<div class="item item-divider" align="center">{{'list_results' | translate_plur:itinerari.length}}</div>
	  <ion-item class="item-thumbnail-left"
                ng-repeat="itinerario in itinerari | extOrderBy:ordering" 
				ng-click="goToItem('/app/itinerary/'+itinerario.id+'/info')"
                collection-item-width="'100%'"
                collection-item-height="'80px'">
        <comuni-img class="item-image comuni-item-image" image="itinerario.image" gotdata="gotdata"></comuni-img>
        <h2>{{itinerario.title | translate}}</h2>
        <p class="comuni-item-bottomdetail">{{itinerario.subtitle | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
	  <div ng-include="'templates/list_toolbox.html'"></div>
  </ion-footer-bar>      
</ion-view>
