<div class="tabs tabs-icon-only" ng-if="!searching">
		<a ng-if="hasMap" class="tab-item" ng-click="showMap()"><i class="icon ion-map"></i></a>
		<a ng-if="hasFilter" class="tab-item" ng-click="showFilterPopup()"><i class="icon ion-social-buffer"></i></a>
		<a ng-if="hasSort" class="tab-item" ng-click="showSortPopup()"><i class="icon ion-android-sort"></i></a>
		<a ng-if="hasSearch" class="tab-item" ng-click="showSearch()"><i class="icon ion-ios7-search-strong"></i></a>
</div>
<div class="tabs tabs-icon-only" ng-if="searching">
  <div class="bar bar-footer item-input-inset">
  <label class="item-input-wrapper" ng-if="searching">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="{{'search'|i18n}}" width="100%" ng-model="ordering.searchText">
  </label>
  <button class="button button-clear" ng-click="cancelSearch()">
    {{'cancel'|i18n}}
  </button>
  </div>
</div>