<ion-view title="{{obj.classification | translate}}">
  <ion-content class="has-header" ng-cloak>
    <comuni-img ng-if="obj.image" class="content-image-main" image="obj.image" gotdata="gotdata"></comuni-img>
    <div class="padding">
      <h1>{{obj.title | translate}}</h1>
      <h4>{{obj.eventDateDescription | translate}}</h4>
      <div class="htmldesc" compile="obj.description | translate"></div>
    </div>
  </ion-content>
  <ion-footer-bar>
	<div ng-include="'templates/toolbox.html'"></div>
  </ion-footer-bar>
</ion-view>
