<ion-view title="{{'sidemenu_Eventi-Principali' | i18n}}">
  <ion-content class="has-header" delegate-handle="listScroll">
    <ion-list>
      <div class="item item-divider" align="center">{{'list_results' | i18nplur:mainevents.length}}</div>
      <ion-item no-collection-repeat="" ng-repeat="obj in mainevents | extOrderBy:ordering" 
                collection-item-width="'100%'" collection-item-height="getListItemHeight(item, $index)"
                ng-click="goToItem('/app/mainevent/'+obj.id)" class="item-thumbnail-left coll-item">
        <comuni-img class="item-image comuni-item-image" image="obj.image" gotdata="gotdata"></comuni-img>
        <h2>{{obj.title | translate}}</h2>
        <p class="comuni-item-bottomdetail">{{obj.eventDateDescription | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
	  <div ng-include="'templates/list_toolbox.html'"></div>
  </ion-footer-bar>      
</ion-view>
