<ion-view title="{{group.name|translate}}">
  <ion-content class="has-header" delegate-handle="listScroll">
    <ion-list>
      <div class="card" ng-repeat="menu in group.items" ng-click="goto(getMenuPath(group,menu))">
        <div class="item item-text-wrap">

          <strong ng-if="group.id=='eventi' && menu.id=='all'">{{menu.name | translate}}</strong>
          <span ng-if="group.id!='eventi' || menu.id!='all'">{{menu.name | translate}}</span>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>