<ion-view title="{{place.classification | translate}}">
  <ion-content class="has-header">
      <ion-nav-buttons side="left" ng-if="explicitBack()">
      <button class="button button-clear" ng-click="bk()">
      <i class="icon ion-ios7-arrow-back"></i>
      </button>
      </ion-nav-buttons>

    <comuni-img ng-if="place.image" class="content-image-main" image="place.image" gotdata="gotdata"></comuni-img>
    <div class="padding">
      <h1>{{place.title | translate}}</h1>
      <div class="comuni-html-desc" compile="place.description | translate"></div>
      <div class="htmldesc" ng-if="place.contacts.phone"><b>Tel:</b> <a href="tel:{{place.contacts.phone}}">{{place.contacts.phone}}</a></div>
      <div class="htmldesc" ng-if="place.contacts.email"><b>E-mail:</b> <a ng-click="email(place.contacts.email)">{{place.contacts.email}}</a></div>
      <div class="htmldesc" ng-if="place.url"><b>Web:</b> <a ng-click="extLink(place.url)">{{place.url}}</a></div>
    </div>
  </ion-content>
  <ion-footer-bar>
	<div ng-include="'templates/toolbox.html'"></div>
  </ion-footer-bar>  
</ion-view>
