<ion-view title="{{cate | translate}}">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider" align="center">{{'list_results' | i18nplur:places.length}}</div>
      <ion-item collection-repeat="place in places | extOrderBy:ordering" 
                collection-item-width="'100%'" collection-item-height="getListItemHeight(item, $index)"
                ng-click="goToItem('/app/place/'+place.id)" class="item-thumbnail-left coll-item">
        <comuni-img class="item-image comuni-item-image" image="place.image" gotdata="gotdata"></comuni-img>
        <h2>{{place.title | translate}}</h2>
        <p class="comuni-item-bottomdetail"><span ng-if="place.distance">{{place.distance | number:1}} Km to </span>{{place.address | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
	<div ng-include="'templates/list_toolbox.html'"></div>
  </ion-footer-bar>  
</ion-view>
