<ion-view title="{{'sidemenu_Ristoranti' | i18n}}">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider" align="center">{{'list_results' | i18nplur:restaurants.length}}</div>
      <ion-item collection-repeat="restaurant in restaurants | extOrderBy:ordering" 
                collection-item-width="'100%'" collection-item-height="getListItemHeight(item, $index)"
                href="#/app/restaurant/{{restaurant.id}}" class="item-thumbnail-left">
        <comuni-img class="item-image comuni-item-image" image="restaurant.image" gotdata="gotdata"></comuni-img>
        <h2>{{restaurant.title | translate}}</h2>
        <div class="row comuni-item-bottom">
          <div class="col-75 comuni-item-bottom-text">
            <span>{{restaurant.address | translate}}</span>
          </div>
          <div class="col-25 comuni-item-bottom-distance">
            <span ng-if="!! restaurant.distance">{{restaurant.distance | number:1}} {{'entry_km' | i18n}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
	  <div ng-include="'templates/list_toolbox.html'"></div>
  </ion-footer-bar>    
</ion-view>
