<ion-view title="Restaurant">
  <ion-content class="has-header" ng-cloak>
    <comuni-img ng-if="obj.image" class="content-image-main" image="obj.image" gotdata="gotdata"></comuni-img>
    <div class="padding">
      <h1>{{obj.title | translate}}</h1>
      <div class="subtitle">
        <strong>{{obj.classification | translate}}</strong>
      </div>
      <div class="subtitle">{{obj.address | translate}}</div>
      <p>
        <ul>
          <li><strong>{{'restaurant_opening' | i18n}}: </strong> {{obj.timetable | translate}}</li>
          <li><strong>{{'restaurant_closing' | i18n}}: </strong> {{obj.closing | translate}}</li>
          <li><strong>{{'restaurant_price' | i18n}}: </strong> {{obj.prices | translate}} &euro;</li>
          <li><strong>{{'restaurant_services' | i18n}}: </strong> {{obj.equipment | translate}}</li>
        </ul>
      </p>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div ng-include="'templates/toolbox.html'"></div>
  </ion-footer-bar>
</ion-view>
