<div class="tabs tabs-icon-only">
		<a ng-if="obj.url" class="tab-item" ng-click="extLink(obj.url)"><i class="icon ion-ios7-world-outline"></i></a>
		<a ng-if="obj.contacts.email" class="tab-item" ng-click="email(obj.contacts.email)"><i class="icon ion-ios7-email-outline"></i></a>
		<a ng-if="obj.contacts.phone" class="tab-item" href="tel:{{obj.contacts.phone}}"><i class="icon ion-ios7-telephone-outline "></i></a>
		<a ng-if="hasNav(obj.location)" class="tab-item" ng-click="bringmethere(obj.location)" data-off-ng-href="geo:obj.location[0],obj.location[1]"><i class="icon ion-ios7-navigate-outline "></i></a>
		<a class="tab-item" ng-click="share(obj.title,obj.url,obj.image)"><i class="icon ion-ios7-redo-outline" ></i></a>
		<!-- <a class="tab-item" ng-click="toggleFavorite(obj)"><i ng-if="isObjFavorite" class="icon ion-ios7-star"></i><i ng-if="!isObjFavorite" class="icon ion-ios7-star-outline"></i></a> -->
</div>
