<div class="tabs tabs-icon-only">
		<a ng-if="obj.url" class="tab-item" ng-click="extLink(obj.url)"><i class="icon ion-ios7-world"></i></a>
		<a ng-if="obj.contacts.email" class="tab-item" ng-click="email(obj.contacts.email)"><i class="icon ion-ios7-email"></i></a>
		<a ng-if="obj.contacts.phone" class="tab-item" href="tel:{{obj.contacts.phone}}"><i class="icon ion-ios7-telephone"></i></a>
		<a ng-if="hasNav(obj.location)" class="tab-item" ng-click="bringmethere(obj.location)"><i class="icon ion-navigate"></i></a>
		<a class="tab-item" ng-click="share($filter('translate')( obj.title),obj.url,obj.image)"><i class="icon ion-share" ></i></a>
		<a class="tab-item" ng-click="toggleFavorite(obj)"><i ng-if="isFavorite(obj)" class="icon ion-ios7-star"></i><i ng-if="!isFavorite(obj)" class="icon ion-ios7-star-outline"></i></a>
</div>
