<div class="row">
		<div class="col col-60">
		<a ng-if="obj.url" class="button comuni-button" href="{{obj.url}}" target="_system"><i class="icon ion-ios7-world-outline"></i></a>
		<a ng-if="obj.contacts.email" class="button comuni-button"><i class="icon ion-ios7-email-outline"></i></a>
		<a ng-if="obj.contacts.phone" class="button comuni-button"><i class="icon ion-ios7-telephone-outline"></i></a>
		</div>
		<div class="col col-40" align="right">
		<a class="button comuni-button"><i class="icon ion-social-facebook-outline"></i></a>
		<a class="button comuni-button"><i class="icon ion-social-twitter-outline"></i></a>
		</div>
</div>
