@font-face {
	font-family: 'HelveticaNeue-CondensedBold';
	font-weight: bold;
	src: url("../fonts/HelveticaNeue-CondensedBold.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HelveticaNeue-CondensedBold';
}

.bar.bar-comuni-home {
  border: none;
  background-image: url(../svg/flag.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}
.bar.bar-dark-comuni {
  border-color: #111;
  background-color: #2975a7;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff;
}
.bar.bar-dark-comuni .title {
  color: #fff;
}

.bar.bar-comuni-home .title,
.bar .title-home {
  line-height: 22px;
  vertical-align: middle;
}
.bar.bar-comuni {
  border-color: #1b4d6e;
  background-color: #2975a7;
  color: #fff;
  /*background-image: linear-gradient(0deg, #2975a7, #2975a7 50%, transparent 50%);*/
}
.bar.bar-comuni h1,
.bar.bar-comuni .button {
  color: #fff;
}

ion-content { text-align: center; }
.scroll {	height:100%; }

.platform { display:none; }
#box { margin-bottom:2em; }
.text { font-size:1.2em; padding:.5em 0; }
.color { color:#2975a7; }
.color-alert { color:#a70d0d; }

.image img {width:75%; border-radius:10px; box-shadow: -1px 1px 6px black;}

#download { 
	padding:0 1em; 
	position:absolute;bottom:0;  width:100%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0.9)));
}
#download button { font-size: 1.5em; font-family: 'HelveticaNeue-CondensedBold'; background-color:#2975a7; color:#fff; width:75%; margin:.8em auto; }

#flag { 
	position:absolute;top:0;right:0; width:96px;height:96px;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

#main { height:100%; }