<?xml version='1.0' encoding='utf-8' ?>
<widget id="it.smartcampuslab.ilcomuneintasca" version="3.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Trento - Il Comune in Tasca</name>
  <description>
    Trento - Il Comune in tasca
  </description>
  <author email="info@smartcampuslab.it" href="http://www.smartcampuslab.it/">
    Smart Campus Lab
  </author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="sms:*" launch-external="yes" />
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />
  <access origin="geo:*" launch-external="yes" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="BackgroundColor" value="0xff2976aa" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <preference name="iosPersistentFileLocation" value="Compatibility" />
  <preference name="LoadUrlTimeoutValue" value="6000" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="6000" />
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
  <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>
  <preference name="exit-on-suspend" value="false" />
  <preference name="detect-data-types" value="false" />
  <preference name="KeepRunning" value="true"/>
  <!-- preference name="Orientation" value="portrait" / -->
</widget>
