<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	  <script src="js/lib/localize.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
	  <script src="js/lib/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-content class="padding">
				<div class="row row-center" id="main"><div class="col">
					<div class="appname"><h2>{{'appname1' | i18n}}<br/>{{'appname2' | i18n}}</h2></div>
					<div id="obsolete"><h4 class="color-alert">-{{'obsolete' | i18n}}-<br/>{{'txt1' | i18n}}</h4></div>
					<div id="web">
						<div class="text" ng-hide="platform" ng-bind-html="translate('txt2_web')"></div>
						<div class="text" ng-show="iosPlatform" ng-bind-html="translate('txt2_ios')"></div>
						<div class="text" ng-show="androidPlatform" ng-bind-html="translate('txt2_android')" ng-click="androidUninstall()"></div>
            <div class="text">{{'txt3' | i18n}}</div>
						<div class="row row-center" id="box" ng-click="appDownload()">
							<div class="col image"><img src="img/icon.png" /></div>
							<div class="col new" ng-show="platform">
								<div class="button-download">
									<img ng-show="platform == 'iOS'" ng-attr-src="img/appstore{{ '_suffix' | i18n}}.svg" />
									<img ng-show="platform == 'Android'" ng-attr-src="img/play{{ '_suffix' | i18n}}.png" />
                  <h4 ng-show="platform == 'web'" class="color">{{'new_app' | i18n}}</h4>
								</div>
							</div>
						</div>
					</div>
				</div></div>
      </ion-content>
			<div id="flag">&nbsp;</div>
			<!-- div id="download"><button class="button button-block  button-comuni" ng-click="appDownload()">{{'download' | i18n}}</button></div -->
    </ion-pane>
  </body>
</html>
