@font-face {
	font-family: 'ilcomuneintasca';
	src:url('../fonts/ilcomuneintasca.eot?-acao9y');
	src:url('../fonts/ilcomuneintasca.eot?#iefix-acao9y') format('embedded-opentype'),
		url('../fonts/ilcomuneintasca.woff?-acao9y') format('woff'),
		url('../fonts/ilcomuneintasca.ttf?-acao9y') format('truetype'),
		url('../fonts/ilcomuneintasca.svg?-acao9y#ilcomuneintasca') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
font-family: 'HelveticaNeue-CondensedBold';
font-weight: bold;
src: url("../fonts/HelveticaNeue-CondensedBold.otf") format("opentype");
}

[class^="comuneicon-"], [class*=" comuneicon-"] {
	font-family: 'ilcomuneintasca';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.comuneicon-filter:before {
	content: "\e60a";
}
.comuneicon-placeholder:before {
	content: "\e608";
}
.comuneicon-ordina_per:before {
	content: "\e609";
}
.comuneicon-viaggiatrento:before {
	content: "\e600";
}
.comuneicon-scoprire:before {
	content: "\e601";
}
.comuneicon-preferiti:before {
	content: "\e602";
}
.comuneicon-percorsi:before {
	content: "\e603";
}
.comuneicon-mangiaredormire:before {
	content: "\e604";
}
.comuneicon-infoutili:before {
	content: "\e605";
}
.comuneicon-eventi:before {
	content: "\e606";
}
.comuneicon-conoscere:before {
	content: "\e607";
}
