.scroll-content > #map1,
.scroll-content > #map2 {
  height: 100%;
}
.angular-google-map-container {
  height: 600px;
}
/*
.platform-ios .tabs {
  height: 70px;
}
.platform-ios .has-tabs {
  bottom: 70px;
}
*/

ion-footer-bar.bar {
  padding: 0;
}
.item-divider {
  /*    background-color: #999; color:#fff; border-top:2px solid #000;*/
  padding: .3em .5em;
}
.menu-open ion-side-menu {
  z-index: 1 !important;
}
/*
.content-stable {
  background-color: #2976aa;
  color:#fff;
}

.item-complex .item-content {
  background-color: transparent;
}
.menu {
  background-color: transparent;
}
*/

/*
azzurrino: #b7d6e8;
blu: #2975a7;
blu scuro: #1b4d6e;
*/

.padding.notop { padding-top:0; }
.padding.nobottom { padding-bottom:0; }

h1,h2,h3,h4 {
  color: #1b4d6e;
}
.comuni-html-description a,
.comuni-html-info a {
  color: #2975a7;
  font-weight: bold;
}
.comuni-html-description,
.comuni-html-info {
  color:#000;
  margin-bottom:.4em;
}
.bar.bar-comuni-home .title,
.bar .title-home {
  line-height: 22px;
  vertical-align: middle;
}
.bar.bar-comuni {
  border-color: #1b4d6e;
  background-color: #2975a7;
  color: #fff;
  /*background-image: linear-gradient(0deg, #2975a7, #2975a7 50%, transparent 50%);*/
}
.bar.bar-comuni h1,
.bar.bar-comuni .button {
  color: #fff;
}
ion-tabs, .tabs {
  border-color: #2975a7;
  background-color: #b7d6e8;
  color: #2975a7;
}
.tabs .tab-item {
  /*  opacity: 1;*/
}
.item-input-inset {
  background-color: #b7d6e8;
}
.item-input-inset .item-input-wrapper {
  background-color: #fff;
}
.item-input-inset .item-input-wrapper .placeholder-icon,
.item-input-inset .item-input-wrapper input {
  color: #2975a7;
}
.item-input-inset .button.button-clear {
  color: #2975a7;
}
.bar.bar-comuni-home {
  border: none;
  background-image: url(../svg/flag.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}
.bar.bar-dark-comuni {
  border-color: #111;
  background-color: #2975a7;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff;
}
.bar.bar-dark-comuni .title {
  color: #fff;
}
ion-side-menu .item-divider {
  background-color: #2975a7;
  color: #fff;
  opacity: .5;
}
ion-side-menu.menu {
  background-color: #b7d6e8;
}
ion-side-menu .item {
  background-color: transparent;
  border-color: #2975a7;
}
.item-complex .item-content,
.item-radio .item-content {
  background-color: transparent;
  padding-top:11px;padding-bottom:11px;
}
.comuni-item-image,
.content-image-main {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: .8em;
  color: #fff;
  background-color: #2975a7;
}
.comuni-item-image {
  border: 4px solid #b7d6e8;
  height: 100%;
  line-height: 80px;
}
.comuni-item-image.unavailable,
.comuni-item-image.missing,
.comuni-item-image.error {
  /*background-color: #AA3B2C;*/
  background-image: url(../svg/placeholder.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%
}
.comuni-item-image.unavailable:after {
  /*content: '...';*/
}
.comuni-item-image.missing:after {
  /*content: '';*/
}
.comuni-item-image.error:after {
  /*content: '!';*/
}
.comuni-item-bottom {
  position: absolute;
  bottom: 10px;
  padding: 0;
  padding-right: 120px;
}
.comuni-item-bottom .comuni-item-bottom-text {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comuni-item-bottom .comuni-item-bottom-distance {
  text-align: right;
}
/*
.comuni-item-bottom2-out {
  position: absolute;
  bottom: 10px;
  padding: 0;
  padding-right: 120px;
  height:2em;
}
.comuni-item-bottom2-in { position:relative; }
.comuni-item-bottom2 { position:absolute;bottom:0;}
*/
.comuni-item-bottom2.row { padding:0;height:38px;font-size:14px; }
.comuni-item-bottom2.col { padding:0;white-space:normal;line-height:1.2em;max-height:2.4em;overflow:hidden;text-overflow:ellipsis; }

.item-thumbnail-left.itinerari h2 { line-height:1.2em;max-height:2.4em;height:2.4em;white-space:normal; }

.content-image-main {
  height: 160px;
  line-height: 160px;
}
.content-image-main.unavailable,
.content-image-main.missing,
.content-image-main.error {
  /*height: 40px;
  line-height: 40px;
  background-color: #AA3B2C;*/
  display: none;
}
.content-image-main.unavailable:after {
  content: '...';
}
.content-image-main.missing:after {
  content: '';
}
.content-image-main.error:after {
  content: '!';
}
#content-home {
  background-color: #2975a7;
  color: #fff;
}
#slide-box-home {
  height: 100%;
}
.hp-box {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hp-box .title {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  padding: .5em;
  text-align: center;
}
.hp-box.city {
  background-image: url(../img/hp-box/city.png);
}
#home-buttons button {
  background-color: #b7d6e8;
  color: #2975a7;
  margin: 0;
  height: 32px;
  padding: 0 4px;
  /*
  border-radius: .5em;
  background-color: #b7d6e8;
  padding: 0;
*/
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  display: table;
  border: none;
}
#home-buttons button b {
  display: table-cell;
  height: 32px;
  vertical-align: middle;
}
#home-buttons button.variant {
  background-color: #fff;
}
#home-buttons.lang_de button {
  font-size: smaller;
}
.comuneicon::before {
  line-height: 32px !important;
  font-size: 32px !important;
}
.comuni-button {
  color: #2975a7;
  background-color: #b7d6e8;
  margin: 0;
  padding: 0;
}
.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.col-distance {
  text-align: right;
}
.card.emptylist {
  opacity: .8;
  text-align: center;
}
.coll-item {
  width: 100%;
  height: 100px;
}

.list .item {
	color: #2975a7;
}
.list .item.item-header, .list .item.item-utility {
/*
	background-color: #2975a7;
  color: #ffffff;
  opacity: 0.5;
*/
	font-weight: bold;
}
.list .item.item-header i.icon, .list .item.item-utility i.icon {
	font-size:1.5em;
}
.list .item.item-utility {
  opacity:.7;
  color: #000;
}
.list .item.item-accordion {
  transition: 0.1s all linear;
  padding-left: 1em;
	font-size: 1.1em;
	line-height: .9em;
	border:none;border-bottom:1px solid rgba(41,117,167,.2);
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


.home-container {
  position: relative;
  height: 100%;
}
.home-box-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 240px;
  /* or whatever height of upper div*/
  /* background: red; */
}
.home-box-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
#home-buttons b,
ion-side-menu b {
  font-family: 'HelveticaNeue-CondensedBold';
}
#credits .row {
  padding: 0;
}
#credits .col {
  text-align: center;
  padding: 0;
}
/*#credits .button-icon:before {
  font-size: smaller;
}*/

.modal-filter .has-footer {
  bottom: 65px;
}
.modal-filter .bar-modal {
  height: inherit;
  padding: 10px !important;
}
.modal-filter .bar-modal .button-modal {
  margin: 0;
  min-height: 45px !important;
  border-radius: 2px;
  line-height: 20px !important;
  font-size: 16px !important;
}
.map-popup {
  text-align: center;
}
.button.button-positive {
  border-color: #1b4d6e;
  background-color: #2975a7;
  color: #fff;
}
.ion-ios7-circle-outline,
.ion-ios7-checkmark {
  color: #2975a7;
}
.h2.h2-credits {
  color: #2975a7;
  font-family: 'HelveticaNeue-CondensedBold';
}
.h4.h4-credits {
  font-family: 'HelveticaNeue-CondensedBold';
}
.h4.credits-title {
  color: #2975a7;
}

p.phone-button {
  font-size: 1.5em; font-weight: bold; color:1b4d6e;
}


comuni-img, .comuni-item-image {
	position: relative;
}
.dida {
  position:relative;
	line-height:17px; color:#1b4d6e; background-color: #b7d6e8;
	position: absolute; bottom:0;right:0;padding:0 .4em 0 .5em;
}
.dida span { margin-right:.5em; }
.dida i { font-size:1.4em;position:absolute;right:0;bottom:-1px; }

/* stretched img css trick
.comuni-img img {
  zoom: 2;  //increase if you have very small images

  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}
*/

.card.sinottico, .card.sinottico .item { border-color: #666 !important; color:#666 !important; }
.card.sinottico .item { font-size:.9em !important;line-height:1.1em !important; }
.card.sinottico .icon { font-size:2.3em !important; }
.card.sinottico .sinottico-button { background-color:#ccc; color:#2975a7 !important; font-weight:bold; }
.list:last-child.card.sinottico { margin-bottom:0; }

.bar-subheader { height:32px; }
.button.bar-subheader { height:32px; }
.has-subheader { top:76px; }

.eventscount { height:1em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.eventPeriod { height:1em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.comunisubmenu-all { font-weight: bold; text-decoration: underline; }

.item-radio .radio-icon { padding-top:5px; }


.comuni-html-description ul, comuni-html-info ul { list-style-type:disc; padding:0 10px;margin-bottom:1em;margin-top:0; }
.comuni-html-description li, comuni-html-info li { margin-left:10px; }


ion-list > .list { padding-top:1;padding-bottom:1; }
.sticky-label { margin-top:1px;width:100%;z-index:1;position:absolute;top:74px; color: #2975a7; }
