#home-buttons button.button-comuni-pos0, ion-side-menu .list .comunimenu-pos0 .item { color:#e14248; } /* conoscere */
#home-buttons button.button-comuni-pos1, ion-side-menu .list .comunimenu-pos1 .item { color:#e14248; } /* visitare */
#home-buttons button.button-comuni-pos2, ion-side-menu .list .comunimenu-pos2 .item { color:#e14248; } /* mangiare e dormire */
#home-buttons button.button-comuni-pos3, ion-side-menu .list .comunimenu-pos3 .item { color:#e14248; } /* eventi */
#home-buttons button.button-comuni-pos4, ion-side-menu .list .comunimenu-pos4 .item { color:#e14248; } /* percorsi */
#home-buttons button.button-comuni-pos5, ion-side-menu .list .comunimenu-pos5 .item { color:#e14248; } /* info utili */
#home-buttons button.button-comuni-posfavorites, ion-side-menu .list .comunimenu-posfavorites .item { color:#e14248; }

#home-buttons button.button-comuni-pos100 { color:#e14248; } /* viaggia trento */
